.header {
  background: black;
  /* background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */

  padding: 0;
  /* border-bottom: 1px solid red; */
}

.header a {
  color: gold;
}

.header a:hover {
  background: gold;
  color: black;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: black;
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

.cart_count {
  background-color:rgb(61, 55, 55);
  color: gold;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}
